body {
	background-color: #f9e5c3;
	color: #dd3e2f;
}

.container {
	padding-top: 8%;
	padding-left: 4%;
	width: 800px;
}

.title {
	font-family: 'Bungee Shade', cursive;
	font-size: 64px;
	padding-top: 4%;
}

.subtitle {
	font-family: 'Old Standard TT', serif;
	padding-top: 2%;
	font-size: 24px;
}

a {
	color: #81cde4;
	/* text-decoration: none; */
	font-style: italic;
}
