ul#menu li {
    display:inline;
}

.jumbotron { 
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-image: url("../media/brainsplash.gif");
	background-size: cover;
	background-position: 0 -4rem;
 }

 #links {
 	margin-top: 1rem; !important
 }

.linkbutton {
	margin-left: 3rem;
	fill: white;
}

.blurb {
	margin-left: 1rem; !important
}



p, h1 {
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
} 

a{
	font-family: "Lucida Console", Monaco, monospace;
}