body {
	font-family: 'Roboto Mono', monospace;
}

.container {
	padding-top: 8rem;
	padding-bottom: 8rem;
	padding-left: 32%;
	padding-right: 32%;
}

@media only screen and (max-width: 960px) {
	.container {
		padding-top: 8rem;
		padding-bottom: 8rem;
		padding-left: 16%;
		padding-right: 16%;
	}
}

@media only screen and (max-width: 480px) {
	.container {
		padding-top: 8rem;
		padding-bottom: 8rem;
		padding-left: 8%;
		padding-right: 8%;
	}
}

.text-wrapper {
	margin: auto;
}

.title {
	font-size: 32px;
	font-weight: 600;
	padding-top: 4%;
}

.subtitle {
	padding-top: 2%;
	font-size: 16px;
}

a {
	color: #00cca3;
}